.privile_rights{
    padding: 0.4rem;
    padding-top :0rem;
    
    .privile_rights_item{
        display: block;
        padding-bottom: 0.3rem;
        &:last-child{
            padding-bottom: 0rem;
        }
    }
}
.privile_rights_title{
    margin:0rem auto;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 1rem;
    display: block;
}
