.grayBar{
    height: 0.2rem;
    background-color: #eeeef0;
}
.btn-small{
    border-radius: 0.26rem;
    padding: 0.12rem 0.26rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    background-color: #ffce81;
}
.btn-gradient{
    background: -webkit-linear-gradient(130deg, #ffcc7d, #ffcc7d, 50%, #ffdebb); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(130deg, #ffcc7d, #ffcc7d, 50%, #ffdebb); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(130deg, #ffcc7d, #ffcc7d, 50%, #ffdebb); /* Firefox 3.6 - 15 */
    background: linear-gradient(130deg, #ffcc7d, #ffcc7d, 50%, #ffdebb); /* 标准的语法 */
}
.react-confirm-alert-body{
    font-size:  0.26rem;
}
.line-through{
    text-decoration: line-through;
}