$colorGray: #949494;
$borderColor:#e5e5e5;
@import './accordition.scss';
//简介
@mixin preview_info_intro {
    color: $colorGray;
    font-size: 0.2rem;
    line-height: 0.2rem;
}

//名称-两行
@mixin preview_info_name {
    color: #333333;
    font-size: 0.26rem;
    line-height: 0.26rem;
    height: 0.56rem;
}

@mixin preview_info_useIntro {
    color: $colorGray;
    font-size: $accordion_height;
    line-height: $accordion_height;
    .up-array {
        transition: 0.3s all ease-in-out;
        transform: rotate(180deg)
    }
}
@mixin preview_info_price{
    padding-left: 0.1rem;
}

@mixin  priview_info_border {
    border: 1px solid #e5e5e5;
}

